<h2>{{message}}</h2>

<p>{{error.status}}</p>
{{#if error.errorStack}}
    <pre>{{error.errorStack}}</pre>
{{/if}}

{{#if error.logEntries}}
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <div>
                Log entries for {{error.logId}}
            </div>
        </div>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Entry
                        </th>
                        <th>
                            Action
                        </th>
                        <th>
                            Data
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {{#each error.logEntries}}
                        <tr>
                            <td class="col-md-2">
                                {{time}}<br/>
                                {{id}}
                            </td>
                            <td>
                                {{action}}
                            </td>
                            <td>
                                <table class="table table-condensed">
                                    {{#each message}}
                                        <tr>
                                            <td>
                                                {{key}}
                                            </td>
                                            <td>
                                                {{value}}
                                            </td>
                                        </tr>
                                    {{/each}}
                                </table>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
{{/if}}
