<h3>Queues</h3>

<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover table-condensed">

        <thead>

            <tr>
                <th class="col-md-1">
                    #
                </th>

                <th>
                    Name
                </th>

                <th class="col-md-1">
                    Active
                </th>

                <th class="col-md-1">
                    Deferred
                </th>

                <th class="col-md-1">
                    Bounced
                </th>

                <th class="col-md-1">
                    Delivered
                </th>
                <th class="col-md-1">
                    msg/sec
                </th>
            </tr>

        </thead>

        <tbody>

            {{#each zones}}
            <tr>
                <th>
                    {{index}}
                </th>
                <th>
                    <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> <a
                        href="/zone/{{name}}/active">{{name}}</a>
                </th>
                <td>
                    <div class="text-right">
                        {{#num}}{{active}}{{/num}}
                    </div>
                </td>
                <td>
                    <div class="text-right">
                        {{#num}}{{deferred}}{{/num}}
                    </div>
                </td>
                <td>
                    <div class="text-right">
                        {{#num}}{{counter_bounced}}{{/num}}
                    </div>
                </td>
                <td>
                    <div class="text-right">
                        {{#num}}{{counter_delivered}}{{/num}}
                    </div>
                </td>
                <td>
                    <div class="text-right">
                        {{#dec}}{{speed}}{{/dec}}
                    </div>
                </td>
            </tr>
            {{/each}}

        </tbody>

        <tfoot>
            <tr>
                <th colspan="2">
                    &nbsp;
                </th>
                <th>
                    <div class="text-right">
                        {{#num}}{{totals.active}}{{/num}}
                    </div>
                </th>
                <th>
                    <div class="text-right">
                        {{#num}}{{totals.deferred}}{{/num}}
                    </div>
                </th>
                <th>
                    <div class="text-right">
                        {{#num}}{{totals.counter_bounced}}{{/num}}
                    </div>
                </th>
                <th>
                    <div class="text-right">
                        {{#num}}{{totals.counter_delivered}}{{/num}}
                    </div>
                </th>
                <th>
                    <div class="text-right">
                        {{#dec}}{{totals.speed}}{{/dec}}
                    </div>
                </th>
            </tr>
        </tfoot>

    </table>
</div>


<h3>Top destinations for today</h3>

<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover table-condensed">

        <thead>

            <tr>
                <th class="col-md-1">
                    #
                </th>

                <th>
                    Domain
                </th>

                <th class="col-md-1">
                    Messages
                </th>

                <th class="col-md-1 text-right">
                    %
                </th>
            </tr>

        </thead>

        <tbody>
            {{#each top}}
            <tr>
                <th>
                    {{index}}
                </th>
                <td>
                    {{domain}}
                </td>
                <td class="text-right">
                    {{#num}}{{messages}}{{/num}}
                </td>
                <td class="text-right">
                    {{#num}}{{share}}{{/num}}%
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>