<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/favicon.ico">

    <title>ZoneMTA
        {{#if title}} | {{title}}{{/if}}
    </title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.min.css">
</head>

<body>

    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><i class="glyphicon glyphicon-cloud"></i> ZoneMTA</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {{#each menu}}
                        {{#if selected}}
                            <li class="active"><a href="{{url}}">{{title}} <span class="sr-only">(current)</span></a></li>
                        {{else}}
                            <li><a href="{{url}}">{{title}}</a></li>
                        {{/if}}
                    {{/each}}
                </ul>
                <form class="navbar-form navbar-right" action="/find" method="get">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" name="query" placeholder="Queue or message ID..." value="{{query}}">
                            <span class="input-group-btn">
                <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                            </span>
                        </div>
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/suppressionlist"><i class="glyphicon glyphicon-remove-circle"></i> Suppression list</a></li>
                    <li><a href="/blacklist"><i class="glyphicon glyphicon-ban-circle"></i> Blacklisted addresses{{#if blacklist}} <span class="badge">{{#num}}{{blacklist}}{{/num}}</span>{{/if}}</a></li>
                    <li><a href="/send"><i class="glyphicon glyphicon-cloud-upload"></i> Upload message</a></li>
                    <li><a href="/logout"><i class="glyphicon glyphicon-log-out"></i> Exit</a></li>
                </ul>
            </div>

        </div>
    </nav>

    <div class="container">
        <div class="page-header">
            <h1>ZoneMTA</h1>
            <p class="lead">Queue administration.</p>
        </div>

        {{flash_messages}} {{{body}}}
    </div>

    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/moment/moment.min.js"></script>
    <script src="/moment/zmta.js"></script>
</body>

</html>
