<h2><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search</h2>

<p>
    Log server found the following matching messages for query <strong>{{query}}</strong>
</p>

<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover table-condensed">

        <thead>

            <tr>
                <th class="col-md-1">
                    #
                </th>

                <th>
                    ID
                </th>

                <th>
                    From
                </th>

                <th>
                    To
                </th>

                <th>
                    Time
                </th>

                <th>
                    Message-ID
                </th>
            </tr>

        </thead>

        <tbody>

            {{#each results}}
            <tr>
                <th>
                    {{index}}
                </th>
                <td>
                    <a href="/message/{{id}}">{{id}}</a>
                </td>
                <td>
                    {{from}}
                </td>
                <td>
                    {{toStr}}
                </td>
                <td class="datestring" title="{{time}}">
                    {{time}}
                </td>
                <td>
                    {{mid}}
                </td>
                {{#each extraFields}}
                <th>
                    {{this}}
                </th>
                {{/each}}
            </tr>
            {{/each}}

        </tbody>
    </table>
</div>

<nav aria-label="nav">
    <ul class="pager">
        {{#if previousCursor}}
        <li class="previous"><a
                href="/find?previous={{previousCursor}}&amp;page={{previousPage}}&amp;limit={{limit}}&amp;query={{query}}"><span
                    aria-hidden="true">&larr;</span> Newer</a></li>
        {{else}}
        <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Newer</a></li>
        {{/if}}

        <li style="display: inline-block; padding-top: 7px;">
            Page <strong>{{page}}</strong>
        </li>

        {{#if nextCursor}}
        <li class="next"><a
                href="/find?next={{nextCursor}}&amp;page={{nextPage}}&amp;limit={{limit}}&amp;query={{query}}">Older
                <span aria-hidden="true">&rarr;</span></a></li>
        {{else}}
        <li class="next disabled"><a href="#">Older <span aria-hidden="true">&rarr;</span></a></li>
        {{/if}}
    </ul>
</nav>

<p>
    By default Message Id is searched for. Search can also include keywords
</p>
<ul>
    <li>
        <code>from:addressvalue</code> searches for messages where SMTP envelope MAIL FROM address is
        <code>addressvalue</code>. For example search query
        <code><a href="/find?query=from:andris@ethereal.email">from:andris@ethereal.email</a></code> searches for all
        messages sent from "andris@ethereal.email". This might not be the same address that is used in message headers.
    </li>
    <li>
        <code>to:addressvalue</code> searches for messages where SMTP envelope RCPT TO address is
        <code>addressvalue</code> For example search query
        <code><a href="/find?query=to:andris@ethereal.email">to:andris@ethereal.email</a></code> searches for all
        messages sent to "andris@ethereal.email". This might not be the same address that is used in message headers.
    </li>
    <li>
        <code>start:date</code> searches for messages that are sent later than provided time value. Date value should be
        <em>2018-04-10T09:14:46Z</em> formatted (T between date and time values, Z in the end to indicate UTC).
    </li>
    <li>
        <code>end:date</code> searches for messages that are sent earlier than provided time value. Date value should be
        <em>2018-04-10T09:14:46Z</em> formatted.
    </li>
    <li>
        <code>message-id:msgid</code> searches for messages where Message-ID equals with provided value. By default when
        searching without the prefix, then partial match is used which might be quite slow.
    </li>
</ul>