<h2><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> <a href="/zone/{{zone}}/{{type}}">{{zone}}</a>
</h2>

<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="{{#if isActive}}active{{/if}}"><a href="/zone/{{zone}}/active">Active{{#if
            counter.active.rows}} <span class="badge">{{counter.active.rows}}</span>{{/if}}</a></li>
    <li role="presentation" class="{{#if isDeferred}}active{{/if}}"><a href="/zone/{{zone}}/deferred">Deferred{{#if
            counter.deferred.rows}} <span class="badge">{{counter.deferred.rows}}</span>{{/if}}</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active">

        <p>
            &nbsp;
        </p>

        {{#if items}}


        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover table-condensed">

                <thead>

                    <tr>
                        <th class="col-md-1">#</th>
                        <th>
                            <div style="display:flex; justify-content: space-between; flex-direction: row;">
                                <div>
                                    ID
                                </div>

                                <div>

                                    {{#if sortId}}

                                    <a
                                        href="{{sortBaseUrl}}&amp;sort=id&amp;order={{#if sortOrderAsc}}desc{{else}}asc{{/if}}">
                                        <span
                                            class="glyphicon glyphicon-sort-by-attributes{{#if sortOrderDesc}}-alt{{/if}}"
                                            aria-hidden="true"></span>
                                    </a>

                                    {{else}}
                                    <a href="{{sortBaseUrl}}&amp;sort=id&amp;order=desc">
                                        <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
                                    </a>
                                    {{/if}}


                                </div>

                            </div>

                        </th>
                        <th>Recipient</th>
                        <th>

                            <div style="display:flex; justify-content: space-between; flex-direction: row;">
                                <div>
                                    Created
                                </div>

                                <div>

                                    {{#if sortCreated}}

                                    <a
                                        href="{{sortBaseUrl}}&amp;sort=created&amp;order={{#if sortOrderAsc}}desc{{else}}asc{{/if}}">
                                        <span
                                            class="glyphicon glyphicon-sort-by-attributes{{#if sortOrderDesc}}-alt{{/if}}"
                                            aria-hidden="true"></span>
                                    </a>

                                    {{else}}
                                    <a href="{{sortBaseUrl}}&amp;sort=created&amp;order=desc">
                                        <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
                                    </a>
                                    {{/if}}


                                </div>

                            </div>

                        </th>
                        <th>

                            <div style="display:flex; justify-content: space-between; flex-direction: row;">
                                <div>
                                    Scheduled
                                </div>

                                <div>

                                    {{#if sortQueued}}

                                    <a
                                        href="{{sortBaseUrl}}&amp;sort=queued&amp;order={{#if sortOrderAsc}}desc{{else}}asc{{/if}}">
                                        <span
                                            class="glyphicon glyphicon-sort-by-attributes{{#if sortOrderDesc}}-alt{{/if}}"
                                            aria-hidden="true"></span>
                                    </a>

                                    {{else}}
                                    <a href="{{sortBaseUrl}}&amp;sort=queued&amp;order=desc">
                                        <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
                                    </a>
                                    {{/if}}


                                </div>

                            </div>

                        </th>
                        <th>Failures</th>
                    </tr>

                </thead>

                <tbody>

                    {{#each items}}
                    <tr>
                        <th>
                            {{index}}
                        </th>
                        <td>
                            <a href="/message/{{id}}">{{id}}</a>
                        </td>
                        <td>
                            {{recipient}}
                        </td>
                        <td class="datestring" title="{{created}}">{{created}}</td>
                        <td class="datestring" title="{{queued}}">{{queued}}</td>
                        <td>{{deferred}}</td>
                    </tr>
                    {{/each}}

                </tbody>
            </table>
        </div>
        {{else}}
        <p>
            Nothing to show here
        </p>
        {{/if}}

    </div>
</div>